# Created by https://www.toptal.com/developers/gitignore/api/laravel,phpstorm,node,phpunit
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel,phpstorm,node,phpunit

/.idea/
/vendor/
/node_modules/
/logs/
/mysql/

.env
